/********************************************************************************************
         CSS de la page d'accueil v2 du Wiktionnaire
*********************************************************************************************

 auteur principal : Nemoi

 mise en place sur le Wiktionnaire :
    le 31 juillet 2012 à 18:43 par ArséniureDeGallium sur [[Wiktionnaire:Page_d’accueil]]
*********************************************************************************************/

/* Retire le titre de la page d'accueil (et ce qui va avec) */
.page-Wiktionnaire_Page_d’accueil #firstHeading,
.page-Wiktionnaire_Page_d’accueil_2 #firstHeading,
.page-Wiktionnaire_Page_d’accueil_2 #siteSub,
.page-Wiktionnaire_Page_d’accueil_2 .subpages {
  display: none;
}

/* Logo pour la page d'accueil */
.fondlogo {
  background: url(//upload.wikimedia.org/wikipedia/commons/0/08/WiktionaryFr-barre-accueil.png);
}

/* Réduire la marge du haut (Timeless gère déjà les marges correctement) */
body:not(.skin-timeless) .fondlogo {
  margin: -1.1em 0 1.2em 0;
}

/* Fonctions génériques */
.hidden {
  position: absolute;
  left: 0;
  top: -5000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media only screen and (min-width: 1030px) {
  .hidden-if-large {
    position: absolute;
    left: 0;
    top: -5000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

/* Placements de colonnes */
.un-tiers {
  width: 34%;
}

.mi-largeur {
  width: 50%;
}

.deux-tiers {
  width: 66%;
}

.colonne-gauche {
  float: left;
}

.colonne-droite {
  float: right;
}

.colonne-gauche.un-tiers + .colonne-deux {
  margin-left: 34%;
}

.colonne-droite.un-tiers + .colonne-deux {
  margin-right: 34%;
}

.colonne-gauche.mi-largeur + .colonne-deux {
  margin-left: 50%;
}

.colonne-droite.mi-largeur + .colonne-deux {
  margin-right: 50%;
}

.colonne-gauche.deux-tiers + .colonne-deux {
  margin-left: 66%;
}

.colonne-droite.deux-tiers + .colonne-deux {
  margin-right: 66%;
}

.colonne-gauche > div {
  margin-right: 0.6em;
}

.colonne-droite > div {
  margin-left: 0.6em;
}

.colonne-gauche + .colonne-deux > div {
  margin-left: 0.7em;
}

.colonne-droite + .colonne-deux > div {
  margin-right: 0.7em;
}

.colonne-deux div.tright, .no-clear div.floatright, .no-clear table.floatright {
  clear: none;
}

.colonne-deux .clearer {
  clear: both;
  margin-bottom: -1.4em;
}

/* margin + padding */

@media only screen and (max-width: 1030px) {
  .colonne-gauche,
  .colonne-droite,
  .colonne-deux {
    float: none;
    width: 100%;
    margin: 1.1em 0 !important;
  }

  .colonne-gauche > div,
  .colonne-droite > div,
  .colonne-deux > div {
    margin: 1.1em 0 !important;
  }

  /* Divers */
  .centrer-si-peu-large {
    text-align: center !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Même principe, mais adapté pour Timeless */
@media only screen and (max-width: 950px), only screen and (min-width: 1100px) and (max-width: 1200px), only screen and (min-width: 1340px) and (max-width: 1500px) {

  .skin-timeless .colonne-gauche,
  .skin-timeless .colonne-droite,
  .skin-timeless .colonne-deux {
    float: none;
    width: 100%;
    margin: 1.1em 0 !important;
  }

  .skin-timeless .colonne-gauche > div,
  .skin-timeless .colonne-droite > div,
  .skin-timeless .colonne-deux > div {
    margin: 1.1em 0 !important;
  }

  /* Divers */
  .skin-timeless .centrer-si-peu-large {
    text-align: center !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Cadres de couleur */
.cadre {
  padding: 0.3em;
  margin: 0 0 1.1em 0;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 0.9em 0.9em 0.6em 0.6em;
  -webkit-border-radius: 0.9em 0.9em 0.6em 0.6em;
  border-radius: 0.9em 0.9em 0.6em 0.6em;
}

.cadre .cadre {
  padding: 0;
  margin: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.cadre .cadre ~ .cadre {
  margin-top: 2em;
}

.cadre.bleu {
  background: #FCFBFF;
  border-color: #D8D8F6;
}

.cadre.vert {
  background: #FCFFFB;
  border-color: #E7E7D8;
}

.cadre.jaune {
  background: #FDFEFB;
  border-color: #ECECD8;
}

.cadre.bleu span.section {
  background-color: #EBEBFA;
  border-color: #D8D8F6;
}

.cadre.vert span.section {
  background-color: #EBFAEB;
  border-color: #D8F6D8;
}

.cadre.jaune span.section {
  background-color: #FAFAC8;
  border-color: #ECECD8;
}

.cadre span.section {
  clear: none;
  display: block;
  font-size: 1.2em;
  padding: 0.3em;
  text-align: center;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.cadre span.section span.mw-headline {
  padding: 1em 0 1em 2em;
  background-position: left center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.cadre span.section.icone-W span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/3/38/Plume_pen_w.svg/27px-Plume_pen_w.svg.png");
}

.cadre span.section.icone-journal span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Newspaper_Cover2.svg/22px-Newspaper_Cover2.svg.png");
}

.cadre span.section.icone-livre span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/6/68/Books-aj.svg_aj_ashton_01c.svg/22px-Books-aj.svg_aj_ashton_01c.svg.png");
}

.cadre span.section.icone-communaute span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/1/14/WLM_logo-2.svg/22px-WLM_logo-2.svg.png");
}

.cadre span.section.icone-projets span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Wikimedia-logo.svg/22px-Wikimedia-logo.svg.png");
}

.cadre span.section.icone-liensutiles span.mw-headline {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Nuvola_apps_kpovmodeler.svg/25px-Nuvola_apps_kpovmodeler.svg.png");
}

.cadre .contenu {
  margin: 0.6em;
}

/* Cadre « Autres projets » de la page d’accueil */
.accueil {
  overflow: hidden;
}

.accueil dt {
  position: relative; /* cafardage d’Epiphany à vérifier en conditions acceptables */
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-bottom: 19px;
  margin-bottom: -0.3em;
}

.accueil dd {
  position: relative;
  bottom: 1.5em;
  left: 50px;
  font-size: 85%;
  margin-left: 0;
}

.accueil dt.wikipediaN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/35px-Wikipedia-logo-v2.svg.png");
  background-position: 5px center;
}

.accueil dt.wikiquoteN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/32px-Wikiquote-logo.svg.png");
  background-position: 6px 0;
}

.accueil dt.wikinewsN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/2/24/Wikinews-logo.svg/45px-Wikinews-logo.svg.png");
  background-position: 0 5px;
}

.accueil dt.meta-wikiN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Wikimedia_Community_Logo.svg/35px-Wikimedia_Community_Logo.svg.png");
  background-position: 6px 0;
}

.accueil dt.wikiversiteN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Wikiversity-logo.svg/32px-Wikiversity-logo.svg.png");
  background-position: 7px 5px;
}

.accueil dt.commonsN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/26px-Commons-logo.svg.png");
  background-position: 10px -0.4px;
}

.accueil dt.wikisourceN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/32px-Wikisource-logo.svg.png");
  background-position: 6px 0;
}

.accueil dt.wikilivresN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo.svg/35px-Wikibooks-logo.svg.png");
  background-position: 5px 0;
}

.accueil dt.wikispeciesN {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikispecies-logo.svg/31px-Wikispecies-logo.svg.png");
  background-position: 7px 0;
}
