/***************************************/
/*  Style des niveaux de section       */
/***************************************/
/* Nouvelle proposition d'affichage des sections de langue (H2) pour enlever l'aspect "Bandeau" et rendre plus compréhensible la lecture */

.ns-0 #mw-content-text div:not(.toctitle) > h2,
.ns-118 #mw-content-text div:not(.toctitle) > h2 {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/OOjs_UI-like_arrow-ltr_progressive.svg/60px-OOjs_UI-like_arrow-ltr_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 40px;
  background-color: #EEEEFF;
  border-left: solid 0 #000;
  border-right: solid 0 #000;
  border-top: solid 0 #000;
  clear: both;
  font-size: 180%;
  font-weight: 500;
  margin-bottom: .5em;
  margin-top: 1em;
}

/* Léger espacement pour les h3 car les icônes en arrière-plan des .titrexxx n'imposent pas d'espacement */
.ns-0 #mw-content-text h3,
.ns-118 #mw-content-text h3 {
  border-bottom: dotted 1px #aaa;
  clear: both;
  margin-top: .5em;
}

.ns-0 #mw-content-text h3,
.ns-118 #mw-content-text h3 {
  clear: both;
}

.ns-0 h4,
.ns-0 h5,
.ns-0 h6,
.ns-118 h4,
.ns-118 h5,
.ns-118 h6 {
  border-bottom: dotted 1px #ddd;
}

/***************************************/
/*  Icônes de section                  */
/***************************************/
.titreetym {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/0/04/OOjs_UI_icon_history-progressive.svg/48px-OOjs_UI_icon_history-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titredef {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/d/d5/OOjs_UI-like_arrow_empty-ltr_progressive.svg/48px-OOjs_UI-like_arrow_empty-ltr_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 4px;
}

.titrepron {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/OOjs_UI_icon_userTalk-ltr-progressive.svg/48px-OOjs_UI_icon_userTalk-ltr-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
}

.titreanagr {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/OOjs_UI_icon_puzzle-ltr-progressive.svg/48px-OOjs_UI_icon_puzzle-ltr-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  padding-top: 8px;
}

/* NB :  utilisation de la même icône dans le bandeau "voir" */
.titrevoir,
.bandeau-voir-icone {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/OOjs_UI_icon_eye-progressive.svg/40px-OOjs_UI_icon_eye-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}

.titreref {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/9/97/OOjs_UI_icon_bookmark-progressive.svg/48px-OOjs_UI_icon_bookmark-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titreabrev {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/1/12/OOjs_UI-like_abbreviation_progressive.svg/48px-OOjs_UI-like_abbreviation_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titreanto {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/OOjs_UI-like_antonym_progressive.svg/48px-OOjs_UI-like_antonym_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titrederiv {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/c/cc/OOjs_UI-like_derivative_progressive.svg/48px-OOjs_UI-like_derivative_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titrederal {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/d/dd/OOjs_UI-like_other_language_derivative_progressive.svg/48px-OOjs_UI-like_other_language_derivative_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titrehypo {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/6/66/OOjs_UI-like_hyponym_progressive.svg/48px-OOjs_UI-like_hyponym_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titrehyper {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/OOjs_UI-like_hyperonym_progressive.svg/48px-OOjs_UI-like_hyperonym_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titresyno {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/OOjs_UI-like_synonym_progressive.svg/48px-OOjs_UI-like_synonym_progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}

.titretrad {
  background: url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/OOjs_UI_icon_language-ltr-progressive.svg/48px-OOjs_UI_icon_language-ltr-progressive.svg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 30px;
  padding-top: 8px;
}


/***************************************/
/*  Définitions, exemples, citations   */
/***************************************/
/* Coloration blanche de base des définitions, exemples, etc. */
/* Définitions # (ou ## ?) */
.ns-0 ol li,
.ns-0 ol li li,
.ns-118 ol li,
.ns-118 ol li li {
  background-color: #fff;
}

/* Exemples #* (ou ##* ou #** ?) */
.ns-0 ol li ul,
.ns-0 ol li li ul,
.ns-0 ol li ul ul,
.ns-118 ol li ul,
.ns-118 ol li li ul,
.ns-118 ol li ul ul {
  background-color: #fff;
}

/* Liens discrets dans les exemples */
.ns-0 #bodyContent ol li ul a:not(.oo-ui-buttonElement-button),
.ns-0 #bodyContent ol li li ul a:not(.oo-ui-buttonElement-button),
.ns-0 #bodyContent ol li ul ul a:not(.oo-ui-buttonElement-button),
.ns-118 #bodyContent ol li ul a:not(.oo-ui-buttonElement-button),
.ns-118 #bodyContent ol li li ul a:not(.oo-ui-buttonElement-button),
.ns-118 #bodyContent ol li ul ul a:not(.oo-ui-buttonElement-button) {
  background: none;
  color: #000090;
  padding-right: 0;
}

/* Pas de couleur pour les liens des exemples sans article */
.ns-0 #bodyContent ol li ul a.new,
.ns-0 #bodyContent ol li li ul a.new,
.ns-0 #bodyContent ol li ul ul a.new,
.ns-118 #bodyContent ol li ul a.new,
.ns-118 #bodyContent ol li li ul a.new,
.ns-118 #bodyContent ol li ul ul a.new {
  background: none;
  color: #000;
  padding-right: 0;
}

/* Alignement des citations sur plusieurs lignes */
.ns-0 ol li dl dd ul li,
.ns-118 ol li dl dd ul li {
  margin-bottom: 0;
  margin-top: .2em;
}

.ns-0 ol li dl dd ul,
.ns-118 ol li dl dd ul {
  margin-left: 1.5em;
}

.ns-0 ol li dl dd dl dd,
.ns-118 ol li dl dd dl dd {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.ns-0 ol li dl dd dl,
.ns-118 ol li dl dd dl {
  margin-bottom: .2em;
  margin-top: 0;
}

/* Écartement des définitions entre elles */
.ns-0 ol li,
.ns-0 ol li ol li,
.ns-118 ol li,
.ns-118 ol li ol li {
  margin-bottom: .8em;
}

/*****************************************/
/* Numérotation différenciée des listes  */
/*****************************************/
/* Niveau 1 :  chiffres arabes */
.ns-0 ol,
.ns-118 ol {
  list-style-type: decimal;
}

.ns-0 ol ul,
.ns-118 ol ul {
  list-style-type: square;
}

/* Niveau 2 :  lettres alphabétiques majuscules */
.ns-0 ol ol,
.ns-118 ol ol {
  list-style-type: lower-alpha;
}

.ns-0 ol ol ul,
.ns-118 ol ol ul {
  list-style-type: square;
}

/* Niveau 3 :  chiffres romains minuscules */
.ns-0 ol ol ol,
.ns-118 ol ol ol {
  list-style-type: lower-roman;
}

.ns-0 ol ol ol ul,
.ns-118 ol ol ol ul {
  list-style-type: square;
}

/***************************************/
/*        Traductions                  */
/***************************************/
/* Mise en exposant du lien vers les autres Wiktionnaires */
.trad-exposant {
  font-size: 80%;
  line-height: 1em;
  vertical-align: super;
}

/* Style des liens vers les autres Wiktionnaires selon les cas */
/* trad  */
.trad-inconnu {
  color: #bbb;
}

/* trad+ */
.trad-existe {
  color: #36b;
}

/* trad- */
.trad-absent {
  color: #ba0000;
}

/* .trad-nowikt {} trad-- */
/********************************************************/
/* Illustrations en médaillon comme les images          */
/********************************************************/
.illustration-texte {
  background: #fff2dd;
  border: 1px solid #aaa;
  font-size: .85em;
  margin: .5em;
  padding: .5em;
  text-align: left;
}

.illustration-couleur {
  border: 1px solid #000;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80px;
}

/***************************************/
/*  Articles de qualité                */
/***************************************/
/* Icônes des AdQ interwiki */
.AdQ {
  list-style-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e7/OOjs_UI-like_star_plain_progressive.svg/24px-OOjs_UI-like_star_plain_progressive.svg.png);
}

#article_de_qualite {
  background: #ffe;
  border: 1px solid #aaa;
  border-collapse: collapse;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: center;
  width: 80%;
}

#article_de_qualite td {
  padding: .5em;
}

/***************************************/
/*        Autres                       */
/***************************************/
/*  Style des sources des citations */
.sources {
  font-size: .85em;
}

/* Classe pour les modèles de ligne de forme (Catégorie: Modèles_de_ligne_de_forme) */
.ligne-de-forme {
  color: #002000;
}

/* Bandeau Voir */
.bandeau-voir {
  background: #ccf5aa;
  border: 1px solid #a0cca0;
  margin-bottom: .5em;
  padding: 3px;
  width: 100%;
}
