.add-example-form .oo-ui-inputWidget-input {
  font-family: 'Menlo', 'Consolas', 'Monaco', 'Noto Mono', 'Nimbus Mono L', monospace !important;
}

.add-example-form .add-example-fieldset {
  margin-bottom: 1em;
}

.add-example-form .oo-ui-iconElement-icon.oo-ui-icon-bold {
  background-image: url("blob:https://fr.wiktionary.org/8b92e2dd-ce76-42d8-a48d-a9bcae492931");
}

.add-example-form .oo-ui-iconElement-icon.oo-ui-icon-italic {
  background-image: url("blob:https://fr.wiktionary.org/3c6884e3-da84-48d1-aabb-3d15ae4e5192");
}
