/***************************************************************************/
/*  Style des systèmes d’écriture                                          */
/* D’après http://fr.wikipedia.org/wiki/Utilisateur:Verdy_p/polices.css    */
/* - Écriture tifinagh : ajouter DejaVu Sans et Ebrima (2009-12-26)        */
/***************************************************************************/
/* Écriture latine étendue : langue vietnamienne */
.script-Latn,
.lang-vi {
  font-family: 'Segoe UI', 'DejaVu Sans', 'Tahoma', 'Verdana', 'Arial', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture grecque : langues grecque moderne, grecque polytonique */
.script-Grek,
.lang-el,
.lang-grc {
  font-family: 'Segoe UI', 'DejaVu Sans', 'Tahoma', 'Verdana', 'Arial', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', 'Everson Mono Unicode', sans-serif;
}

/* Écriture copte : langue copte */
.script-Copt,
.lang-cop {
  font-family: 'Ifao N Copte', 'MPH 2B Damase', 'Segoe UI', 'Code2000', 'FreeSans', 'Everson Mono Unicode', sans-serif;
}

/* Écriture cyrillique : langues bulgare, macédonienne, mongole, russe, serbe, ukrainienne */
.script-Cyrl,
.lang-bg,
.lang-mk,
.lang-mn,
.lang-ru,
.lang-sr,
.lang-uk {
  font-family: 'Segoe UI', 'DejaVu Sans', 'Tahoma', 'Verdana', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture arménienne */
.script-Armn,
.lang-hy {
  font-family: 'Segoe UI', 'DejaVu Sans', 'Sylfaen', 'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écritures géorgiennes */
.script-Geor,
.script-Geok,
.lang-ka {
  font-family: 'Sylfaen', 'DejaVu Sans', 'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture hébreue */
.script-Hebr,
.lang-he,
.lang-arc-Hebr {
  font-family: 'SBL Hebrew', 'Adobe Hebrew', 'DejaVu Sans Light', 'Tahoma', 'Levenim MT', 'David', 'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
  font-size: 115%;
}

.lang-he .selflink {
  font-weight: normal;
}

/* Écriture arabe */
.script-Arab,
.lang-ar,
.lang-fa,
.lang-ps,
.lang-ur,
.lang-arc-Arab,
.lang-ary,
.lang-ms span[dir="rtl"] {
  font-family: 'Tahoma', 'DejaVu Sans', 'Arial Unicode MS', 'Code2000', 'Traditional Arabic', sans-serif;
  font-size: 133%;
  line-height: 1.2em;
}

/* Écriture syriaque */
.script-Syrc,
.lang-arc,
.lang-arc-Syrc {
  font-family: 'Estrangelo Edessa',
  'BPG Classic Medium', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture thâna : langue dhivéhie */
.script-Thaa,
.lang-dv {
  font-family: 'Mv Boli',
  'BPG Classic Medium', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture tifinagh : langues berbères */
.script-Tfng,
.lang-ber,
.lang-tmh {
  font-family: 'Ebrima', 'DejaVu Sans', 'Hapax Berbère', 'MPH 2B Damase', sans-serif;
}

/* Écriture thaïe */
.script-Thai,
.lang-th {
  line-height: 1.4;
  font-family: 'Leelawadee',
  'Tahoma', 'BPG Classic Medium', 'Cordia New', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture dévanagarie : langues hindie, népalaise */
.script-Deva,
.lang-hi,
.lang-ne {
  font-family: 'Mangal', 'Chandas',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture bengalie : langues assamaise, bengalie*/
.script-Beng,
.lang-as,
.lang-bn {
  font-family: 'Rupali', 'SolaimanLipi',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture gourmoukhie : panjabi */
.script-Gurm,
.lang-ks,
.lang-gu {
  font-family: 'Raavi',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture goudjaratie */
.script-Gujr,
.lang-gj {
  font-family: 'Shruti',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture tamoule */
.script-Taml,
.lang-ta {
  font-family: 'Latha',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture télougoue */
.script-Telu,
.lang-te {
  font-family: 'Gautami',
  'BPG Classic Medium', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture kannara */
.script-Knda,
.lang-kn {
  font-family: 'Tunga',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture malayalam */
.script-Mylm,
.lang-ml {
  font-family: 'Kartika',
  'BPG Classic Medium', 'Arial Unicode MS', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture oryia */
.script-Orya,
.lang-or {
  font-family: 'Kalinga',
  'BPG Classic Medium', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture singhalaise */
.script-Sinh,
.lang-si {
  font-family: 'Iskoola Pota',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture khmère */
.script-Khmr,
.lang-km {
  font-family: 'MoolBoran', 'DaunPenh', 'CDT Khmer',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture laotienne */
.script-Laoo,
.lang-lo {
  font-family: 'DokChampa', 'Saysettha OT', 'DejaVu Sans', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture limboue */
.script-Limb,
.lang-lif {
  font-family: 'MPH 2B Damase', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture tibétaine */
.script-Tibt,
.lang-bd,
.lang-dz {
  font-family: 'Microsoft Himalaya', 'Tibetan Machine Uni',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture éthiopienne : amharique, tigrigna */
.script-Ethi,
.lang-am,
.lang-tgn {
  font-family: 'Nyala', 'Ethiopia Jiret',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture cherokee */
.script-Cher,
.lang-chr {
  font-family: 'Plantagenet Cherokee',
  'AfSans', 'AfPaiNutaaq', 'Pigiarniq',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture syllabaire aborigène canadienne unifiée (SACU) */
.script-Cans,
.lang-iu {
  font-family: 'Euphemia', 'Aboriginal Sans',
  'AfSans', 'AfPaiNutaaq', 'Pigiarniq',
  'DejaVu Sans', 'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écritures coréennes (hangûle + hanja) */
.script-Kore,
.script-Hang,
.lang-ko {
  font-family: 'UnDotum', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Dotum',
  'SimSun', 'Microsoft JhengHei', 'PMingLiU',
  'MingLiU', 'Arial Unicode', 'HeiT', 'Meiryo',
  'MS UI Gothic', 'MS PGothic', 'MS Gothic',
  'Microsoft YaHei',
  'SimHei',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écritures japonaises */
.script-Jpan,
.script-Hira,
.script-Kana,
.script-Hrkt,
.lang-ja {
  font-family: 'Meiryo', 'MS UI Gothic', 'MS PGothic', 'MS Gothic',
  'Microsoft YaHei',
  'SimHei',
  'Microsoft JhengHei', 'PMingLiU', 'MingLiU', 'Arial Unicode', 'HeiT',
  'Malgun Gothic', 'Gulim', 'SimSun',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture idéographique han traditionnelle */
.script-Hant,
.lang-zh-Hant {
  font-family: 'Microsoft JhengHei', 'PMingLiU', 'MingLiU', 'Arial Unicode', 'HeiT',
  'Microsoft YaHei',
  'SimHei',
  'Meiryo',
  'MS UI Gothic', 'MS PGothic', 'MS Gothic',
  'Malgun Gothic', 'Gulim', 'SimSun',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture idéographique han simplifiée */
.script-Hans,
.script-Hani,
.lang-zh,
.lang-zh-Hans {
  font-family: 'Microsoft YaHei',
  'SimHei',
  'Microsoft JhengHei', 'PMingLiU', 'MingLiU', 'Arial Unicode', 'HeiT',
  'Meiryo',
  'MS UI Gothic', 'MS PGothic', 'MS Gothic',
  'Malgun Gothic', 'Gulim', 'SimSun',
  'Code2000', 'FreeSans', 'Lucida Sans Console', sans-serif;
}

/* Écriture hanunóo */
.lang-hnn {
  font-family: "Noto Sans Hanunoo", FreeSerif, Quivira, sans-serif;
}
