#autocomplete-suggestion-box {
  position: fixed;
  top: 0;
  left: 0;
  border: black solid 1px;
  background-color: #fdfdfd;
  z-index: 999;
}

#autocomplete-suggestion-box ul {
  list-style-type: none;
  margin-left: 0;
}

#autocomplete-suggestion-box ul > li {
  font-family: monospace;
  padding: 0 5px;
  cursor: pointer;
}

#autocomplete-suggestion-box ul > li:hover {
  background-color: #ccc;
}

#autocomplete-suggestion-box ul > .autocomplete-selected {
  background-color: #999;
}

#autocomplete-suggestion-box ul > li > .autocomplete-highlight {
  font-weight: bold;
}

#autocomplete-suggestion-box > .autocomplete-no-suggestions {
  font-style: italic;
  padding: 0 5px;
}
